<% wrap_layout :layout do %>
  <div class="posts">
    <div class="header">
      <h1><%= current_article.title %>
      <span class="date"><%= current_article.date.strftime('%b %d, %Y') %></span></h1>
    </div>
    <div class="content">
      <%= yield %>
      <span style="font-size: 18px;" class="lsf-icon" title="tag">
        <% current_article.tags.each do |tag| %>
          <li style="line-height: 2; border: none; font-size: 20px; display: inline;">
            <%= link_to tag, tag_path(tag) %>
          </li>
        <% end %>
      </span>
    </div>
    <%= disqus %>
  </div>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51807616-2', 'auto');
      ga('send', 'pageview');

    </script>
<% end %>
