<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <!-- Use title if it's in the page YAML frontmatter -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta content="Annie" name="author" />
    <meta content="安妮" name="author" />
    <meta content="OtiAnn" name="author" />
    <meta content="<%= current_page.data.title+' | ' %>Annideas?" name="title" />
    <meta content="http://blog.annideas.com/" name="url" />
    <meta content="website" name="type" />
    <% if current_article %>
      <meta content="<%= current_article.metadata[:page]["desc"] %>" name="description" />
    <% else %>
      <meta content="我是OtiAnn，Ruby on Rails的初學者，2014年3月，參與了Rails Girls Taipei的活動，透過學習Ruby on Rails，了解許多程式概念。這篇Blog記錄著學習的內容、心得想法，可能有些想法有誤差，也請前輩們多多指教，謝謝 :)" name="description" />
    <% end %>
    <meta content="http://blog.annideas.com/images/icon2.png" property="og:image">
    <meta content="Annie" property="og:author" />
    <meta content="安妮" property="og:author" />
    <meta content="OtiAnn" property="og:author" />
    <meta content="<%= current_page.data.title+' | ' %>Annideas?" property="og:title" />
    <meta content="http://blog.annideas.com/" property="og:url" />
    <meta content="website" property="og:type" />
    <% if current_article %>
      <meta content="<%= current_article.metadata[:page]["desc"] %>" property="og:description" />
    <% else %>
      <meta content="我是OtiAnn，Ruby on Rails的初學者，2014年3月，參與了Rails Girls Taipei的活動，透過學習Ruby on Rails，了解許多程式概念。這篇Blog記錄著學習的內容、心得想法，可能有些想法有誤差，也請前輩們多多指教，謝謝 :)" property="og:description" />
    <% end %>
    <meta content="Annideas?" itemprop="name" />
    <% if current_article %>
      <meta content="<%= current_article.metadata[:page]["desc"] %>" itemprop="description" />
    <% else %>
      <meta content="我是OtiAnn，Ruby on Rails的初學者，2014年3月，參與了Rails Girls Taipei的活動，透過學習Ruby on Rails，了解許多程式概念。這篇Blog記錄著學習的內容、心得想法，可能有些想法有誤差，也請前輩們多多指教，謝謝 :)" itemprop="description" />
    <% end %>

    <link rel="shortcut icon" href="/images/icon.png"/>

    <title><%= "Annideas #{current_page.data.title}" || "Annideas" %></title>
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">Annideas?</a></h1>
        <p>Do a little more of what you want to do every day, <br>until your idea becomes what's real.</p>
      </header>
      <ul class="navbar">
        <li><a href="/about">About</a></li>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/tags">Tags</a></li>
        <li><a href="http://feeds.feedburner.com/Annideas" class="last">Feed</a></li>
      </ul>
      <div class="container">
        <%= yield %>
      </div>
      <footer>
        <p>Copyright © <a href="/">Annideas</a> - Powered by <a href="http://middlemanapp.com/">Middleman</a></p>
      </footer>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51807616-2', 'auto');
      ga('send', 'pageview');

    </script>
  </body>
</html>