---
pageable: true
per_page: 10
---
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<ul class="articleList">
  <% page_articles.each_with_index do |article| %>
    <li>
      <span class="date"><%= article.date.strftime('%b %d, %Y') %></span>
      <span class="title"><%= link_to article.title, article %></span>
      <div class="summary"><%= article.summary(100) %></div>
    </li>
  <% end %>
</ul>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>